<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <h4><%= err.message %></h4>
        <p><%= err.stack %></p>
        <!-- stack says how error is genearted
        from whre error started and how it went -->
    </div>
</div>